<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
